<style>
	.form-message .form-message-error{
		color: red;
	}
	.form-message-container{
		color: red;
	}
</style>

<div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-100">
	<div>	{{#if messages}}
		{{#showAlerts messages}}
		{{/showAlerts}}
	{{/if}}</div>
	<div class="w-full sm:max-w-3xl mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
		<form method="post" action="/login" >
			<center>
				<img src="https://javierg.mosquedacordova.com/klizto/images/logo_fondo_claro.png" width="140" />
			</center>
			<div>
				<label class="block font-medium text-sm text-gray-700" for="email">
					<span>
						Correo
					</span>
				</label>
				<input
					class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full"
					id="email" type="email"  name="email" required autofocus />
			</div>
			<div class="mt-4">
				<label class="block font-medium text-sm text-gray-700" for="password">
					<span>
						Contraseña
					</span>
				</label>
				<input
					class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full"
					id="password" type="password" required="" name="password" autocomplete="current-password" />
			</div>
			<!---->
			<!---->
			<div class="block mt-4">
				<label class="flex items-center">
					<input type="checkbox"
						class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
						name="remember" />
					<span class="ml-2 text-sm text-gray-600">
						Recuérdame
					</span>
				</label>
				<a class="underline text-sm text-gray-600 hover:text-gray-900 float-right" href="/forgot-password">
					Contraseña olvidada?
				</a>
			</div>
			<br />
			<div class="flex items-center justify-end mt-4 mb-4">
				<br />
				<button type="submit"
					class="items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition ml-4">
					<center>
						Aceptar
					</center>
				</button>
			</div>
			No tienes una cuenta?
			<a class="mb-3 underline text-sm text-gray-600 hover:text-gray-900 float-right" href="/register">
				Registrarse
			</a>
		</form>
	</div>
</div>