<a href="/" class="btn-return-landing">
	<i class="fa fa-times"></i>
</a>
<h2 class="box-contact__title text-center">Coloca tu nueva contraseña</h2>
<form method="post" class="form-contact" autocomplete="off">
	<input type="password" class="form-control" placeholder="Nueva contraseña" name="password">
	<button type="submit" class="btn btn-primary btn-block">Cambiar contraseña <i class="fa fa-angle-right"></i></button>
</form>