<script>
	$( document ).ready(function() {

$('#url_youtube').on('keyup',function() {

	this.value = this.value.toLowerCase();
      input = $(this).val();
	//const btna = $('.form-steps__btn--support');
	console.log("hola")
	let link = $('#url_youtube').val();
		console.log(input)
		link_ = link.split('/')
		console.log(link_)
		console.log(link_.length)
	/*	if(link_[0] == "https:" && link_[2] == "soundcloud.com" && link_.length > 4){
			console.log("correcto")
			btna.removeAttribute('disabled');
		}else if(link_[0] == "https:" && link_[2] == "soundcloud.es" && link_.length > 4){
			console.log("correcto1")
			btna.removeAttribute('disabled');
		}else{
			console.log("malo")
			btna.setAttribute('disabled', true);
		}*/
	})
	}); 
</script>

<section class="section-step {{#if user.basic}}basic{{/if}} {{#if user.gold}}gold{{/if}}" data-step-page="{{#if backstore}}5{{else}}6{{/if}}" data-step-desc="Pasos">
	<h2 class="form-steps__title text-left">Elige cómo quieres que los fans apoyen esta pista</h2>

	<!-- Nav Support Nav -->
	<nav class="support-nav">
		<a href="#support-youtube" class="support-nav__item">
			<i class="fab fa-youtube-square"></i>
			<div>
				<span>Youtube</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-facebook" class="support-nav__item">
			<i class="fab fa-facebook-square"></i>
			<div>
				<span>Facebook</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-twitter" class="support-nav__item">
			<i class="fab fa-twitter-square"></i>
			<div>
				<span>Twitter</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-soundcloud" class="support-nav__item">
			<i class="fab fa-soundcloud"></i>
			<div>
				<span>Soundcloud</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-instagram" class="support-nav__item">
			<i class="fab fa-instagram-square"></i>
			<div>
				<span>Instagram</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-spotify" class="support-nav__item">
			<i class="fab fa-spotify"></i>
			<div>
				<span>Spotify</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-deezer" class="support-nav__item">
			<i class="fab fa-deezer"></i>
			<div>
				<span>Deezer</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-tiktok" class="support-nav__item">
			<i class="fab fa-tiktok"></i>
			<div>
				TikTok
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-mixcloud" class="support-nav__item">
			<i class="fab fa-mixcloud"></i>
			<div>
				MixCloud
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
	</nav>
	<!-- End Nav Support Nav -->

	<!-- Support Sections -->
	<div class="support-sections">
		<section id="support-youtube" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con Youtube</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="suscribir_youtube" value="suscribir_youtube">
						<span class="checkbox-style__circle"></span>
						Subscribirse al canal
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_youtube" value="omitir_youtube" class="optional">
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<div class="form-row">
				<div class="col">
					<label class="form-steps__title">Ingresa la URL del canal</label>
					<div class="other-container">
				<div class="add-other">
					<input type="url" class="form-control-steps " name="url_youtube" placeholder="URL de la canal" id='url_youtube'>
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
				</div><!-- .col -->
				<!--<div class="col">
					<label class="form-steps__title">Ingresa nombre del canal</label>
					<input type="text" class="form-control-steps" name="nombre_youtube" placeholder="Nombre del canal">
				</div> .col -->
			</div><!-- .form-row -->
		</section>

		<section id="support-facebook" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con Facebook</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="like_facebook" value="like_facebook">
						<span class="checkbox-style__circle"></span>
						Like a la página
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="compartir_facebook" value="compartir_facebook">
						<span class="checkbox-style__circle"></span>
						Compartir post
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->
			<label class="checkbox-style mb-3">
				<input type="checkbox" name="omitir_facebook" value="omitir_facebook" class="optional">
				<span class="checkbox-style__circle"></span>
				Hacer que los fanáticos puedan omitir los pasos
			</label>
			<label class="form-steps__title">Ingresa la URL de la página</label>
			<div class="other-container">
				<div class="add-other">
					<input type="url" class="form-control-steps" name="url_facebook" placeholder="URL de la página">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-twitter" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con Twitter</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_twitter" value="seguir_twitter">
						<span class="checkbox-style__circle"></span>
						Seguir cuenta
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="compartir_twitter" value="compartir_twitter">
						<span class="checkbox-style__circle"></span>
						Compartir post
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<label class="checkbox-style mb-3">
				<input type="checkbox" name="omitir_twitter" value="omitir_twitter" class="optional">
				<span class="checkbox-style__circle"></span>
				Hacer que los fanáticos puedan omitir los pasos
			</label>

			<label class="form-steps__title">Ingresa la URL de la cuenta</label>
			<div class="other-container">
				<div class="add-other">
					<input type="url" class="form-control-steps" name="url_twitter" placeholder="URL de la cuenta">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-soundcloud" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con SoundCloud</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_soundcloud" value="seguir_soundcloud">
						<span class="checkbox-style__circle"></span>
						Seguir perfil
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="compartir_soundcloud" value="compartir_soundcloud">
						<span class="checkbox-style__circle"></span>
						Comentar el track
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="repost_souncloud" value="repost_souncloud">
						<span class="checkbox-style__circle"></span>
						Repost el track
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_souncloud" value="omitir_souncloud" class="optional">
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<label class="form-steps__title">Ingresa la URL del perfil</label>
			<div class="other-container">
				<div class="add-other">
					<input type="url" class="form-control-steps" name="url_souncloud" placeholder="URL del perfil">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-instagram" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con Instagram</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_instagram" value="seguir_instagram">
						<span class="checkbox-style__circle"></span>
						Seguir cuenta
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_instagram" value="omitir_instagram" class="optional">
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<label class="form-steps__title">Ingresa la URL de la cuenta</label>
			<div class="other-container">
				<div class="add-other">
					<input type="url" class="form-control-steps" name="url_instagram" placeholder="URL de la cuenta">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-spotify" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con Spotify</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_spotify" value="seguir_spotify">
						<span class="checkbox-style__circle"></span>
						Seguir perfil o playlist
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_spotify" value="omitir_spotify" class="optional">
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<label class="form-steps__title">Ingresa la URL del playlist</label>
			<input type="text" class="form-control-steps" name="url_spotify" placeholder="URL del playlist">
		</section>

		<section id="support-deezer" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con Deezer</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_deezer" value="seguir_deezer">
						<span class="checkbox-style__circle"></span>
						Seguir perfil
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="guardar_deezer" value="guardar_deezer">
						<span class="checkbox-style__circle"></span>
						Guardar el track en la biblioteca del fan
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<label class="checkbox-style mb-3">
				<input type="checkbox" name="omitir_deezer" value="omitir_deezer" class="optional">
				<span class="checkbox-style__circle"></span>
				Hacer que los fanáticos puedan omitir los pasos
			</label>

			<label class="form-steps__title">Ingresa la URL del perfil</label>
			<div class="other-container">
				<div class="add-other">
					<input type="url" class="form-control-steps" name="url_deezer" placeholder="URL del perfil">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-tiktok" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con TikTok</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_tiktok" value="seguir_tiktok">
						<span class="checkbox-style__circle"></span>
						Seguir cuenta
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_tiktok" value="omitir_tiktok" class="optional">
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->
			<label class="form-steps__title">Ingresa la URL del perfil</label>
			<div class="other-container">
				<div class="add-other">
					<input type="url" class="form-control-steps" name="url_tiktok" placeholder="URL del perfil" >
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-mixcloud" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con MixCloud</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_mixcloud" value="seguir_mixcloud">
						<span class="checkbox-style__circle"></span>
						Seguir perfil
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="repost_mixcloud" value="repost_mixcloud">
						<span class="checkbox-style__circle"></span>
						Repost track
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="like_mixcloud" value="like_mixcloud">
						<span class="checkbox-style__circle"></span>
						Like al track
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_mixcloud" value="omitir_mixcloud" class="optional">
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<label class="form-steps__title">Ingresa la URL del perfil</label>
			<div class="other-container">
				<div class="add-other">
					<input type="url" class="form-control-steps" name="url_mixcloud" placeholder="URL del perfil">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>
	</div>
	<!-- End Support Sections -->

	<button type="button" class="btn btn-primary btn-x-lg form-steps__btn form-steps__btn--support">Siguiente <i class="fa fa-angle-right"></i></button>
</section>